<!DOCTYPE html>
<html lang="fr">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="w-full flex flex-col items-center min-h-screen">

<nav class="w-full sticky top-0 py-4 backdrop-blur-md border-b-2 border-black bg-secondary/30 z-50">
    <div class="max-w-6xl flex flex-wrap items-center justify-between mx-auto">
        <a asp-action="Index" asp-controller="Patient" class="text-text font-bold text-lg">MedManager</a>
    </div>
</nav>

<main class="max-w-6xl flex flex-col items-center">
    @RenderBody()
</main>

</body>
</html>