@model MedicalHistory

@{
    Layout = "_Layout";
    ViewBag.Title = "Ajout d'un antécédent";
}

<form asp-action="Add" asp-controller="Allergy" method="post">
    <h1>Ajout d'un nouvel antécédent à la base !</h1>

    @Html.Partial("_Form", Model)
    
    <div>
        <input type="submit" value="Ajouter" class="btn btn-primary"/>
    </div>
</form>