@model MedicalHistory

@{
    Layout = "_Layout";
    ViewBag.Title = "Modification d'un antécédent";
}

<form asp-action="Edit" asp-controller="Allergy" method="post">
    <h1>Modification d'un antécédent</h1>
    <input asp-for="MedicalHistoryId" type="hidden" value="@Model.MedicalHistoryId"/>
    
    <div>
        <label asp-for="Name" class="block mb-2 text-md font-medium text-text"></label>
        <input asp-for="Name" class="input input-bordered w-full" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-error"></span>
    </div>
    
    <div>
        <input type="submit" value="Modifier" class="btn btn-primary"/>
    </div>
</form>