@model MedicalHistory

@{
    Layout = "_Layout";
    ViewBag.Title = "Modification d'un antécédent";
}

<form asp-action="Edit" asp-controller="Allergy" method="post">
    <h1>Modification d'un antécédent</h1>
    
    @Html.Partial("_Form", Model)  
    
    <div>
        <input type="submit" value="Modifier" class="btn btn-primary"/>
    </div>
</form>