@model IEnumerable<MedicalHistory>

@{
    Layout = "_Layout";
    ViewBag.Title = "Liste des antécédents";
}

<h1 class="text-center text-xl font-bold my-4">Liste des antécédents</h1>
@await Html.PartialAsync("Tables/_MedicalHistoryTable", Model)
<a asp-action="Add" asp-controller="Allergy" class="btn btn-primary my-2">Ajouter un nouvel antécédent</a>
