@model AccountViewModel

@{
    ViewBag.Title = "S'inscrire";    
    Layout = "_Layout";
}

<div class="container py-4">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded-lg" style="width: 100%; max-width: 1100px;">
            <div class="card-header text-center" style="width: 100%;">
                <h5 class="mb-0">Modification du docteur</h5>
            </div>

            <div class="card-body">
                <form asp-action="Edit" asp-controller="Account" method="post">
                    
                    @await Html.PartialAsync("_DoctorForm", Model)
                    
                    <span asp-validation-summary="ModelOnly" class="text-danger"></span>
                    
                    <div class="mt-3">
                        <input class="btn btn-primary" type="submit" value="Modifier"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>