@model MedManager.ViewModel.Account.LoginViewModel

@{
    ViewBag.Title = "Connexion";
    Layout = "_Layout";
}

<h2 class="my-2 font-bold text-xl">Connexion</h2>

<div class="min-w-full flex flex-col gap-2">
    <form class="flex flex-col gap-4" asp-action="Login" asp-controller="Account" method="post">
        <div class="flex flex-col">
            <label asp-for="Username" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Username" class="input input-bordered w-full"/>
            <span asp-validation-for="Username" class="text-error"></span>
        </div>
        <div class="flex flex-col">
            <label asp-for="Password" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Password" class="input input-bordered w-full"/>
            <span asp-validation-for="Password" class="text-error"></span>
        </div>
        <div class="flex flex-row justify-center align-middle gap-4">
            <label asp-for="RememberMe" class="text-md font-medium text-text"></label>
            <input asp-for="RememberMe" class="checkbox"/>
        </div>
        <span asp-validation-summary="All" class="text-error"></span>
        
        <input class="btn btn-primary" type="submit" value="Se connecter"/>
    </form>
    
    <a class="link link-secondary" asp-action="Register" asp-controller="Account">S'inscrire ?</a>
</div>