@model AP2_AspNetMvc.ViewModel.Account.LoginViewModel

@{
    ViewBag.Title = "Connexion";
    Layout = "_Layout";
}

<h2>Connexion</h2>

<div>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div>
            <label asp-for="Username" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Username" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="Username" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Password" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Password" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="Password" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="RememberMe" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="RememberMe" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
        </div>
        
        <input type="submit" value="Se connecter"/>
    </form>
</div>