@model IEnumerable<MedicalHistory>

<table class="table table-sm table-striped table-hover">
    <thead class="text-center">
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody class="text-center">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MedicalHistoryId</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-controller="MedicalHistory" asp-route-id="@item.MedicalHistoryId"><i class="bi bi-pencil"></i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-controller="MedicalHistory" asp-route-id="@item.MedicalHistoryId"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>