@model Patient

@{
    Layout = "_Layout";
}

<div class="mt-5 p-4 border border-accent w-fit h-fit rounded-xl bg-white">
    
    <form asp-action="Add" asp-controller="Patient" method="post" class="flex flex-col gap-4">
        <h1 class="text-xl font-bold">Ajout d'un nouveau patient à la base !</h1>
        <div>
            <label asp-for="FirstName" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="FirstName" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="FirstName" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="LastName" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="LastName" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="LastName" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Age" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Age" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="Age" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Gender" class="block mb-2 text-md font-medium text-text"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Genders))" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50">
                <option value="">Select Gender</option>
            </select>
            <span asp-validation-for="Gender" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Height" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Height" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="Height" class="text-red-500"></span>
        </div>

        <div>
            <label asp-for="Weight" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Weight" class="flex h-9 w-full rounded-md border border-black bg-transparent px-3 py-1 text-sm shadow-sm transition-colors placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"/>
            <span asp-validation-for="Weight" class="text-red-500"></span>
        </div>
        
        <input type="submit" value="Create Patient"/>
    </form>
</div>