@model PatientViewModel

@{
    Layout = "_Layout";
}

<div class="container py-4">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded-lg" style="width: 100%; max-width: 1100px;">
            <div class="card-header text-center" style="width: 100%;">
                <h5 class="mb-0">Ajout d'un nouveau patient à la base</h5>
            </div>

            <div class="card-body">
                <form asp-action="Add" asp-controller="Patient" method="post" class="flex flex-col gap-4">
                    @await Html.PartialAsync("_Form", Model)
        
                    <input class="btn btn-primary my-2" type="submit" value="Créer le patient"/>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#MedicalHistories_dropdown').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                maxHeight: 400
            });
        });
        $(document).ready(function () {
            $('#Allergies_dropdown').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                maxHeight: 400
            });
        });
    </script>
}