@model MedManager.Models.Patient

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete Patient</title>
</head>
<body>
<div>
    <form asp-action="Delete" asp-controller="Patient" method="post">
        <h1>Are you sure you want to delete @Model.FirstName @Model.LastName ?</h1>
        <input asp-for="PatientId" type="hidden"/>
        
        <input type="button" onclick="history.back()" value="No" />
        <input type="submit" value="Yes" />
    </form>
</div>
</body>
</html>