@{
    Layout = "_Layout";
}
@model IEnumerable<Patient>

<div class="flex flex-col">
    
    <h1 class="text-center text-xl font-bold my-4">Liste des patients</h1>

    @if (Model.Any())
    {
        @await Html.PartialAsync("Tables/_PatientTable", Model)
    }
    else
    {
    <p>Aucun patient dans la base</p>
    }

    <a asp-action="Add" class="btn btn-primary">Ajouter un nouveau patient</a>
</div>