@{
    ViewBag.Title = "Accès refusé";
    Layout = "_Layout";
}

<div class="container py-4">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded-lg" style="width: 100%; max-width: 1100px;">
            <div class="card-header text-center" style="width: 100%;">
                <h5 class="mb-0">Accès refusé</h5>
            </div>
                
            <div class="card-body">
                <p class="text-center">Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
            </div>
        </div>
    </div>
</div>
