@model Allergy

<input asp-for="AllergyId" type="hidden" value="@Model.AllergyId"/>
    
<div class="form-group mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>