@model Allergy

@{
    Layout = "_Layout";
    ViewBag.Title = "Ajout d'une allergie";
}

<form asp-action="Add" asp-controller="Allergy" method="post">
    <h1>Ajout d'une nouvelle allergie à la base !</h1>
    
    @Html.Partial("_Form", Model)
    
    <div>
        <input type="submit" value="Ajouter" class="btn btn-primary"/>
    </div>
</form>