@model Allergy

@{
    Layout = "_Layout";
    ViewBag.Title = "Modification d'une allergie";
}

<div class="container py-4">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded-lg" style="width: 100%; max-width: 1100px;">
            <div class="card-header text-center" style="width: 100%;">
                <h5 class="mb-0">Modification d'une allergie</h5>
            </div>

            <div class="card-body">
                <form asp-action="Edit" asp-controller="Allergy" method="post">
                    @await Html.PartialAsync("_Form", Model)

                    <div>
                        <input type="submit" value="Modifier" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>