@model Allergy

@{
    Layout = "_Layout";
    ViewBag.Title = "Modification d'une allergie";
}

<form asp-action="Edit" asp-controller="Allergy" method="post">
    <h1>Modification d'une allergie</h1>

    @Html.Partial("_Form", Model)
    
    <div>
        <input type="submit" value="Modifier" class="btn btn-primary"/>
    </div>
</form>