@model IEnumerable<MedManager.Models.Allergy>

@{
    Layout = "_Layout";
    ViewBag.Title = "Liste des allergies";
}

<h1 class="text-center text-xl font-bold my-4">Liste des allergies</h1>
@await Html.PartialAsync("Tables/_AllergyTable", Model)
<a asp-action="Add" asp-controller="Allergy" class="btn btn-primary my-2">Ajouter une nouvelle allergie</a>