@model Tuple<Prescription, IEnumerable<Medicament>>

@{
    ViewBag.Title = "Modification de l'ordonnance";
    Layout = "_Layout";
}

<h2>Modification de l'ordonnance : @Model.Item1.PrescriptionId</h2>

@await Html.PartialAsync("_PatientCard", Model.Item1.Patient)

@await Html.PartialAsync("_Form", new FormViewModel { PrescriptionId = Model.Item1.PrescriptionId, 
    StartDate = Model.Item1.StartDate, EndDate = Model.Item1.EndDate, Dosage = Model.Item1.Dosage, 
    AdditionalInformation = Model.Item1.AdditionalInformation, Medicaments = Model.Item2.ToList(),
    SelectedMedicamentIds = Model.Item1.Medicaments.Select(m => m.MedicamentId).ToList()
} )