@model Prescription

@{
    ViewBag.Title = "Modification de l'ordonnance";
    Layout = "_Layout";
}

<h2>Modification de l'ordonnance : @Model.PrescriptionId</h2>

@await Html.PartialAsync("_PatientCard", Model.Patient)