@model PrescriptionViewModel

@{
    ViewBag.Title = "Modification de l'ordonnance";
    Layout = "_Layout";
}

<h2>Modification de l'ordonnance : @Model.PrescriptionId</h2>

@await Html.PartialAsync("_PatientCard", Model.Patient)

<form asp-action="Edit" asp-controller="Prescription" method="post">
    @await Html.PartialAsync("_Form", Model)
    
    <input class="btn btn-primary my-2" type="submit" value="Enregistrer vos modifications"/>
</form>