@model IEnumerable<Prescription>

@{
    ViewBag.Title = "Liste des ordonnances";
    Layout = "_Layout";
}

<h1 class="text-center text-xl font-bold my-4">Liste des ordonnances</h1>

@if (Model.Any())
{
    @await Html.PartialAsync("Tables/_PrescriptionTable", Model)
}
else
{
    <p class="text-center">Aucune ordonnance de créée</p>
}

<a asp-controller="Prescription" asp-action="Create" class="btn btn-primary">Créer une nouvelle ordonnance</a>