@model MedicamentViewModel

<input type="hidden" asp-for="MedicamentId" />

<div class="form-group mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Quantity"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Ingredients"></label>
    <input asp-for="Ingredients" class="form-control" />
    <span asp-validation-for="Ingredients" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="MedicamentType"></label>
    <select asp-for="MedicamentType" asp-items="@Html.GetEnumSelectList(typeof(MedicamentTypes))" class="form-control">
        <option value="">Sélectionner un type</option>
    </select>
    <span asp-validation-for="MedicamentType" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="MedicamentCategory"></label>
    <select asp-for="MedicamentCategory" asp-items="@Html.GetEnumSelectList(typeof(MedicamentCategories))" class="form-control">
        <option value="">Sélectionner une catégorie</option>
    </select>
    <span asp-validation-for="MedicamentCategory" class="text-danger"></span>
</div>

<div class="form-group">
    <label>Antécédents médicaux</label>
    <div class="col-sm-6">
        @Html.ListBoxFor(model => model.SelectedMedicalHistoryIds, new MultiSelectList(Model.DrpMedicalHistories,
        "Value", "Text"), new
        {
        @class = "form-control",
        multiple = "multiple",
        id = "MedicalHistories_dropdown"
        })
    </div>
</div>

<div class="form-group">
    <label>Allergies</label>
    <div class="col-sm-6">
        @Html.ListBoxFor(model => model.SelectedAllergyIds, new MultiSelectList(Model.DrpAllergies,
        "Value", "Text"), new
        {
        @class = "form-control",
        multiple = "multiple",
        id = "Allergies_dropdown"
        })
    </div>
</div>