@model MedicamentViewModel

@{
    ViewBag.Title = "Modifier un médicament";
    Layout = "_Layout";
}

<h2>Modifier un médicament</h2>

<form asp-action="Edit" method="post" class="w-full flex flex-col gap-4">

    @Html.Partial("_Form", Model)

    <input class="btn btn-primary my-5" type="submit" value="Modifier le médicament"/>
</form>