@model IEnumerable<Medicament>

@{
    ViewBag.Title = "Liste des médicaments";
    Layout = "_Layout";
}

<h1 class="text-center text-xl font-bold my-4">Liste des médicaments</h1>

@if (Model.Any())
{
    @await Html.PartialAsync("Tables/_MedicamentTable", Model)
}
else
{
    <p>Aucun médicament dans la base</p>
}

<a asp-action="Add" class="btn btn-primary my-2">Ajouter un nouveau médicament</a>